<div class="container">
    <div class="card">
        
        <div class="card-header">
                <div class="row">
                        <div class="col-10 justify-content-center align-self-center">
                                    <h2>Users</h2>
                        </div>
                        <div class="col">
                            <button class="btn" (click)="openAddModal()"><span style="font-size: 30px;"><i class="far fa-plus-square"></i></span></button>
                        </div>
                </div>
            <!-- Users -->
        </div>

        <div *ngIf="!users">
            <div >
                There is no item in the store, please add one
                <a (click)="openAddModal()" href="javascript:void(0)">Add</a>
                <!-- <button type="button" class="btn btn-success" (click)="openAddModal()">Add</button> -->
            </div>
        </div>

        <table *ngIf="users.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        {{ user.firstName }}
                    </td>
                    <td>
                        {{ user.lastName }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.role }}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" (click)="openEdit(item)">Edit</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-danger" (click)="deleteItem(item)">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>